* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: #ffffff;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

div.top {
    height: 40%;
    width: 100%;
}

div.bottom {
    background-color: #eee;
    height: 60%;
    padding: 140px 6% 0;
    width: 100%;
}

div.bottom a {
    margin-right: 20px;
    text-decoration: none;
    outline: 0;
}





/**
 * 
 * CSS section :: followItem
 */
div.bottom div.followItem {
    background-color: #fff;
    border: 1px solid #dedcd7;
    border-radius: 6px;
    color: #919191;
    display: inline-block;
    height: 130px;
    transition: all 0.4s ease-out 0s;
    width: 260px;
}

div.followItem div.fa {
    font-size: 4em;
    margin-left: 94px;
    margin-top: 20px;
    color: inherit;
}

div.followItem div.description {
    font-size: 12px;
    margin-left: 76px;
    margin-top: 102px;
    position: absolute;
    color: inherit;
}

div.bottom div.github:hover {
    background-color: #333;
    color: #fff;
}
div.bottom div.stackoverflow:hover {
    background-color: #f69c55;
    color: #fff;
}
div.bottom div.google-plus:hover {
    background-color: #d34836;
    color: #fff;
}
div.bottom div.twitter:hover {
    background-color: #00aced;
    color: #fff;
}






/**
 * 
 * CSS section :: myName
 */

div.myname {
    background-color: #fff;
    border-radius: 50%;
    font-size: 34px;
    height: 300px;
    margin: -210px 40% 0;
    position: absolute;
    text-align: center;
    width: 300px;
}

div.myname > div.mynameText {
    color: #444;
    font-family: serif;
    font-size: 46px;
    font-weight: bold;
    letter-spacing: 6px;
    margin-top: 180px;
}
